* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Ubuntu", sans-serif;
}

/* Header styles */
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #5F9EA0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
    width: 40px;
    margin-right: 10px;
}

header .logo img {
    width: 100%;
}

header .longName,
header .shortName {
    color: #fff;
    font-size: 24px;
}

header .longName {
    display: inline-block;
}

header .shortName {
    display: none;
}

header .nav {
    margin-left: 20px;
    display: flex;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;
    transition: 0.2s;
    display: block;
}

nav ul li a:hover,
nav ul li a.active {
    color: #4ad295;
}

header .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

header .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}

/* Media query for smaller screens */
@media only screen and (max-width: 1000px) {
    header {
        padding: 0 10px;
    }

    header .longName {
        display: none;
    }

    header .shortName {
        display: inline-block;
    }

    header .header-right .hamburger {
        display: none;
    }

    .side-menu:checked~header .hamburger {
        display: block;
    }

    header .header-left nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #4CAF50;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        z-index: 1;
    }

    .side-menu:checked~header .header-left nav {
        display: flex;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    nav ul li {
        margin-bottom: 10px;
        margin-right: 0;
    }

    nav ul li a {
        padding: 10px;
        border-radius: 5px;
    }

    /* Adjust the max-width for burger icon */
    .hamburger div,
    .hamburger div::before,
    .hamburger div::after {
        max-width: 1000px;
    } 
}
